<nav class="max-w-7xl mx-auto py-4">
    <ul class="flex space-x-6 justify-start">
        <li><a href="{{ url_for('pages.home') }}" class="text-white hover:text-secondary font-medium transition duration-150 ease-in-out">Beranda</a></li>
        <li><a href="{{ url_for('pages.analyze') }}" class="text-white hover:text-secondary font-medium transition duration-150 ease-in-out">Analisis Matriks & ML</a></li>
        <li><a href="{{ url_for('pages.about') }}" class="text-white hover:text-secondary font-medium transition duration-150 ease-in-out">Tentang Proyek</a></li>
    </ul>
</nav>