<nav class="max-w-7xl mx-auto py-4">
  <ul class="flex space-x-6 justify-start">
    <li>
      <a href="{{ url_for('pages.home') }}"
         class="font-medium transition duration-150 ease-in-out
                {% if request.endpoint == 'pages.home' %}
                    text-yellow-300 border-b-2 border-yellow-300
                {% else %}
                    text-white hover:text-yellow-300
                {% endif %}">
        Beranda
      </a>
    </li>
    <li>
      <a href="{{ url_for('pages.analyze') }}"
         class="font-medium transition duration-150 ease-in-out
                {% if request.endpoint == 'pages.analyze' %}
                    text-yellow-300 border-b-2 border-yellow-300
                {% else %}
                    text-white hover:text-yellow-300
                {% endif %}">
        Analisis Matriks & ML
      </a>
    </li>
    <li>
      <a href="{{ url_for('pages.about') }}"
         class="font-medium transition duration-150 ease-in-out
                {% if request.endpoint == 'pages.about' %}
                    text-yellow-300 border-b-2 border-yellow-300
                {% else %}
                    text-white hover:text-yellow-300
                {% endif %}">
        Tentang Proyek
      </a>
    </li>
  </ul>
</nav>
